{% extends 'base.html.twig' %}

{% block title %}New Habilitations{% endblock %}

{% block body %}
   
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">Créer une habilitation</h5>
                        
                        <div class="form mb-2">
                           {{ include('habilitations/_form.html.twig') }}
                        </div>
                        
                        <a href="{{ path('app_habilitations_index') }}" class="btn btn-primary">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
