{% extends 'base.html.twig' %}

{% block title %}Edit Roles{% endblock %}

{% block body %}
    
    <div class="container">
    <div class="row justify-content-center">
     <div class="card col-8 mt-5">
            <div class="card-title p-2">
                <h3>Modifier un rôle</h3>
            </div>
             <div class="card-body">
                {{ include('roles/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('app_roles_index') }}"class="btn btn-primary">Retour à la liste</a>

                
            </div>
        </div>
    </div>
       
    </div>

    
{% endblock %}
