<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">

        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <div class="container mt-4">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <script type="module">
                        import { showSuccessAlert, showErrorAlert } from '/build/app.js';
                        document.addEventListener('DOMContentLoaded', function() {
                            {% if label == 'success' %}
                                showSuccessAlert('{{ message|e('js') }}');
                            {% elseif label == 'error' %}
                                showErrorAlert('{{ message|e('js') }}');
                            {% endif %}
                        });
                    </script>
                {% endfor %}
            {% endfor %}
        {% endblock %}
    </body>
</html>
