{% extends 'base.html.twig' %}

{% block title %}New RolesHabilitations{% endblock %}

{% block body %}
   
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">Créer un rôle</h5>
                        
                        <div class="form mb-2">
                            {{ include('roles_habilitations/_form.html.twig') }}
                        </div>
                        
                        <a href="{{ path('app_roles_habilitations_index') }}"class="btn btn-secondary">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
