{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    
   <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Créer un article</h5>
                        
                        <div class="form mb-2">
                            {{ include('article/_form.html.twig') }}
                        </div>
                        
                        <a href="{{ path('app_article_index') }}" class="btn btn-primary">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
{% endblock %}
